bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
ProductCatalogService/appsettings.Development.json
ProductCatalogService/appsettings.Production.json
.idea
ProductCatalogService.sln.DotSettings.user
